FIRECRACKER_VERSION=v1.15.0
GUEST_RELEASE=noble
TAP_DEV=tap0
TAP_HOST_CIDR=172.16.0.1/30
VM_SUBNET_CIDR=172.16.0.0/30
VM_IP=172.16.0.2
VM_PREFIX=30
VM_GW=172.16.0.1
VM_MEMORY_MB=2048
VM_VCPUS=2
POOL_NAME=tank
SHARE_EXPORT=/tank/share
ROOTFS_SIZE=8G
DATA_DISK_SIZE=20G
HOST_SHARE_DIR=/host-share
STATE_DIR=/state
UBUNTU_MIRROR=

